
    *{       /*Configuraçao padrao de inicio de um projeto dentro do css*/
        padding: 0;
        margin: 0;
        vertical-align: baseline;
        list-style: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    header {
        display: flex; /*RESPONSAVEL POR COLOCAR OS ITENS NA MESMA LINHA (lado a lado)*/
        align-items: center; /*ALINHAr os itens do nosso header para o centro*/
        justify-content: space-evenly; /*Traduçao : justificar conteudo : espaço uniformemente.
        Alinhar os itens igualmente dentro da pagina*/
        padding: 2%; /*Cuida do preenchimento*/
        background-color: rgb(116, 77, 5);/*or de fundo do nosso Cabeçalho/Header*/
        overflow: hidden;
        
    }
    header > h1 { /*Selecionamos aqui a cor da letra do nosso h1 ou seja, do nosso titulo*/
        color: white; /*chamamos a propriedade color e definimos uma cor em questao*/
    }

    header > img { /*Aqui estamos chamando nossa imagem para ser atribuidas alteraçoes*/
        width: 200px;/*Largura da nossa imagem*/
        height: 200px; /*Tamanho da nossa imagem*/
    }
    #menu-header { /*Nosso menu de navegaçao*/
        display: flex; /*Responsavel por colocar os itens na mesma linha (lado a lado)*/
        align-items: center; /*Alinhar os itens do nosso header para o centro*/
    }

    #list-menu { /*Nossa lista nao ordenada aqui mudaremos diretamente nossa lista*/
        display: flex; /*Responsavel por colocar os itens na mesma linha ( lado a lado)*/
        margin-right: 1rem; /*margem da direita. 1 rem eqivale a 16 px ou seja podemos usa-lo para facilitar
        a inserçao de px*/
    }

    .item-menu-header { /*Nossas li que estao dentro do list menu , onde se encontram os nomes dos itens 
        apresentados no header*/
        margin-right: 25px; /*margem da direita*/
    }
    .item-menu-header > a:hover { /*Nossas li que estao dentro do list menu. (a) nossa tag de link que é 
        representada por : home/produtos/contato, eo hover responsavel pela modificaçao de cor ao passar o 
        cursor em cima*/
        color: yellow; /*Aqui atribuimos uma cor*/
        transition: 1s;/* E o tempo em que será exibido ao passar o cursor*/
    }

    .item-menu-header > a {/**Nossas li que estao dentrodo list menu. (a) nossa tag de link que é 
        representada por  HOME/PRODUTOS/CONTATO*/
        color: white; /*Cor das letras*/
        text-decoration: none; /*Responsavel por tirar o sublinhado inferior que esstava visivel*/
        font-size: 12px; /*tamanho da letra*/

    }
    #botao-header { /*nossa id do botao de login*/
        display: flex; /* Responsavel por colocar os itens na mesma linha ( lado a lado */
    }
    #botao-header > button { /* Aqui chamamos nossa ID e onde queremos fazer alteraçoes no caso 
        o nosso botao  */
        padding: 8px;/* Cuida do preenchimento*/
        background-color: transparent; /* Aqui deixamos o fundo do botao transparent, ou seja sem  o fundo branco
        que estava em primeiro plano*/
        border: none;/* none é usado para retirar algo, nesse casoa borda*/

    }
    #botao-header > button > a { /* Estamos chamando aqui nossa Tag de link para alteraçao*/
        display: flex; /* Responsavel por colocar os itens na mesma linha ( lado a lasdo)*/
        align-items: center; /*Alinhar os itens para o centro*/

    }#botao-header > button > a > img { /* Aqui estamos mexendo no ICON do botao*/
        width: 30px; /* largura*/
        height: 30px;/*tamanho*/
        margin-right: 2px;/* margem da direita */

    }
    #botao-header > button > a { /*Estamos chamando aqui nossa TAG de link para alteraçao (novamente)*/
        color: white; /* Cor da letra */
        text-decoration: none; /*Responsavel por tirar o sublinhado que estava visivel*/
        font-weight: 400;/*espessura da fonte*/
    }
    #img-destaque{/* aqui chamamos a id que chamamos no HTML*/
        background-image: url(img/padaria\ \(1\).webp);/* usado para inserir imagens de fundo*/
        padding: 20%; /*cuida do preenchimento*/
        background-position: center;
        background-size: cover;
    } 
    .img-div {/* Aqui chamamos nossa class para alteraçao*/
        padding: 2.5%; /* cuida do preenchimento*/
        background-image: url(img/img-div.jpg); /*usado para inserir imagens de fundo*/
        background-position: center; /*aqui posicionamos nossa imagem para o centro*/
        background-size: auto; /* background especifico o tamanho daos imagens de fundo . 
        Auto Responsavel por preencrer totalmente a imagen*/
    }
   #clients > h2 {
    text-align: center; /*Alinhamos o texto ao centro*/
    font-size: 36px; /*Tamanho da letra*/
    margin-top: 40px; /* Espaçamento superior*/
   }

   #clients {/* Aqui chamamos nossa id da section*/
    background-color: rgb(255, 254, 254); /* cor de fundo da section*/
    padding: 50px; /* indica o espaço a cima do elemento/ superior*/
    margin-top: 0; /* cuida do preenchimento*/
   }

   .line { /*Aqui chamamos nosssa class que esta dentro do nosso hr que é usado como uma qubra
    de linha tematica entre elementos html*/
    margin: 0 auto;
    width: 30%; 
   }

   #clients-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly; /*justificar conteudo : espaço uniforme*/
    margin-top: 35px;
   }

   .clients-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   .clients-item > img {
    width: 84px;
    height: 84px;
   }

   .clients-item > h3 { /* aqui chamamos nosso h3 para estilizaçao*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;/* tamanho da fonte*/
    margin-top: 10px; /* indica o espaço a cima do elemento superior*/
    align-items: center; /* alinhar os itens ao centro*/
   }
   .clients-item > p { /* aqui chamamos nossa tag para estilizaçao*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    align-items: center;
   }

#product { /* ID usada para a section dos nossos produtos*/
    background: linear-gradient(180deg, #d49664 8.33%, rgba(244,200,175,0)100% ); /* Aqui colocamos 
    uma estilizaçao de fundo em degrade*/

    padding: 30px; /* preencimento*/

}
  #product > h2 {
        text-align: center;
    }
    .section-produtos { /* Chamamos nosssa div pai para estilizaçao*/
        margin-top: 3em; /* espaçamento superior*/
        display: flex; /*tornando essa sessao flex e jogando lado a lado*/
        justify-content: space-evenly; /* espaçamento justificado*/
        align-items: center; /* Alinhando itens ao centro*/
    }

    .img-product { /* Aqui chamamos nossa imagens para ediçao*/
        width: 300px; /* Largura das imagens*/
        height: 300px; /* Altura das imagens */
        border-radius: 50px; /*Arredondamento das bordas*/
    }
    .title-products { /* chamamos nosso titulo para estilizaçao*/
        margin-top: 10px; 
        font-family: Arial, Helvetica, sans-serif; /* familia de fonte*/
        text-align: center; /* alinhamento do texto ao centro*/
        font-size: 22px;/*tamanho da letra*/
    }

    #product > a { /* aqui chamamos nossa tag a para estilizaçao*/
        text-decoration: none; /* Desabilitamos a decoraçao */
        font-family: Arial, Helvetica, sans-serif;  /* familia de fonte*/
        font-size: 20px;/*tamanho da fonte*/
        color: black; /*cor da letra*/
        display: flex;/*Tornando em flex*/
        justify-content: center;/*alinhando ao centro*/
        text-align: center; /*alinhando ao centro*/
    }

  
    #product > a:hover { /* Efeito ao passa o mouse*/
        font-size: 22px; /* Tamanho das letra*/
        transition: 0.8s; /* Tempo de transiçao ao passar o mouse*/
        color: tomato; /* Cor da letra ao passar o mouse*/

    } 

    #sobre-nos { /*Chamamos nosso sobre nos para estilizaçao*/
        background-image: url(img/fundo-sobre-nos.jpg);/* Inserimos aqui nossa imagem*/
        background-repeat: no-repeat;/*nao repetiçao da imagem*/
        background-position: center;/*Posicionamento da imagem ao centro*/
        background-size: cover;/*Habilitando o tamanho total da imagem*/
        background-attachment: fixed;/*Deixando a imagem fixada*/
        padding: 120px;/* Tamanho do preenchimento da sassao*/
    }

    /*h3 alterem a cor , tamanho, alinhamento e familia da fonte*/

    #sobre-nos > h3 {
        color: rgb(249, 249, 250);
        font-size: 45px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;

    }
    #sobre-nos > p {
        color: white;
        
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 22px;
        margin-top: 2em;
        text-align: left;
    }

    footer {
        padding: 80px;
        background-image: url(img/img-footer.jpg);
        background-repeat: no-repeat;
        background-position: bottom;

    }

    footer ul {
        display: flex;
        justify-content: space-evenly;
    }

    footer h2 {
        color: black;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
    }

    .item-menu-footer {/* Aqui chamamos nossa class das LI */
        align-items: center; /* Posicionamos ao centro*/
        margin-top: 30px;/* Espaçamento superior*/
        display: flex;/* Alinhando  os itens lado a lado*/
    }
    .item-menu-footer img { /*Aqui chamamos nossa img para estilizaçao*/
        width: 34px; /* largura da img*/
        height: 34px;/*altura*/
    }

    /*Chamem a TAG P para estilizaçao*/
    .item-menu-footer p {
        color: black; /*Cor da letra*/
        font-size: 24px; /* Tamanho da letra*/
        font-weight: bold; /* Espessura da letra*/
        margin-left: 10px; /* Espaçamento á esquerda*/
    }
    /*Aqui atualaizamos o nossso css para celular por exemplo*/

    @media(max-width:430px) {
        #menu-header {
            display: none;
        }

        #btn-header button a {
            display: block;
            font-family: bold;
        }

        #btn-header button a p {
            font-size: 0.8em;
            font-family: Arial, Helvetica, sans-serif;
        }

        #btn-header button a img {
            width: 30%;
            height: auto;
        }

        header img {
            width: 40px; /* iremos modificar*/
            height: 40px;
        } 
        
        header h1 {
            font-size: 1em;

        }

        header {
            padding: 5%;
        }

        #img-destaque {
            max-width: 100%;
            height: auto;
            
        }

        #img-padaria {
            width: 100%;

        }

        #clients > h2 {
            font-size: 2em;
        }
        #clients-list {
            display: block; /* deixar os itens em blocos , um abaixo do outro*/
            margin-bottom: 10%;
            text-align: center;/* alinhar o texto ao centro*/
        }

        .section-produtos {
            display: block;
            text-align: center;
        }

    }




    /*Diferença entre ID e CLASS: A diferença entre um id e uma class é que um id é usado apenas para identificar
    um unico elemento em nosso HTML. Os identificadores são usados apenas quando um elemento na pagina precisa
    ter um estilo especoifico aplincado a ele.
    no entanto, uma class pode ser usada para identificar mais de um elemento HTML*/


    /*apertar f5 para execultar*/



